

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




.table td {
	    -webkit-transition: background-color 600ms linear;
    -moz-transition: background-color 600ms linear;
    -o-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;
}

.project{
	padding:10px;
	margin:10px;
	background:#f2f2f2;
	border:1px solid #eee;
	overflow: hidden;
}
.project h3{
	margin:0 0 10px 0;
}
.project ul{
	margin:0;
	padding:0;
}
.project li{
	margin:0;
	padding:0;
	list-style-type: none;
}
.project .allocation{
	position:relative;
}
.project .allocation .glyphicon{
	display:none;
}
.project .allocation:hover .glyphicon{
	display:inline-block;
	position: absolute;
	top:2px;
	right:0;
	cursor: pointer;
}
.project .status{
	height:30px;
	width:30px;
	-webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg); 
    transform: rotate(45deg);	
    background:#999;
    position: absolute;
    top:-15px;
    right:-6px;
}

.project .status.ontrack{
	background:#5cb85c;
}
.project .status.warning{
	background:#f0ad4e;
}
.project .status.danger{
	background:#d9534f;
}


.projectContainer .row{
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	margin-right:10px
}
.projectContainer .row .project{
	display:inline-block;
	width:100%;
	position: relative;
}

.highlight{
	background:#e4e4e4;

}

td.first{
	width:300px;
}

.editbtn, .deleteProject{
	position: absolute;
	top:10px;
	right:20px;
}
.glyphicon-ban-circle{
	color:#d9534f;
}



*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

  droptarget.lvl-over {
    border: 1px dotted black !important;
  }
 
  .lvl-target {
    background-color: #ddd; 
    opacity: .5;
  }
 











