

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body{margin-top:40px;}

.project{
	padding:10px;
	margin:10px;
	background:#f2f2f2;
	border:1px solid #eee;
}
.project ul{
	margin:0;
	padding:0;
}
.project li{
	margin:0;
	padding:0;
	list-style-type: none;
}
.project li .glyphicon{
	display:none;
}
.project li:hover .glyphicon{
	display:inline-block;
}


.editbtn, .deleteProject{
	position: absolute;
	top:30px;
	right:20px;
}
.glyphicon-ban-circle{
	color:#d9534f;
}



*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

  droptarget.lvl-over {
    border: 1px dotted black !important;
  }
 
  .lvl-target {
    background-color: #ddd; 
    opacity: .5;
  }
 











